<% content_for :title, t('movies.edit.title') %>

<h1><%= t('movies.edit.title') %></h1>

<%= render "form", movie: @movie %>

<div class="actions">
  <%= link_to t('movies.edit.show'), @movie, class: "btn btn--secondary" %>
  <%= link_to t('movies.edit.back'), movies_path, class: "btn btn--primary" %>
</div>
