<% content_for :title, t('movies.new.title') %>

<h1><%= t('movies.new.title') %></h1>

<%= render "form", movie: @movie %>

<div class="actions">
  <%= link_to t('movies.new.back'), movies_path, class: "btn btn--secondary" %>
</div>
