<h1><%= t('import_mailer.completed.title') %></h1>
<p>
  <%= t('import_mailer.completed.message') %> <strong><%= @import.file.filename %></strong>.
</p>
<p><%= t('import_mailer.completed.success') %></p>
